<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <img class="header-img" src="/assets/images/logo.svg">
<h1>Let's get to Werk!</h1>
<button type="button" class="btn btn-primary btn-lg btn-block">View Lists</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Profile</button>




<a href="/profile">Profile</a>
<a href="/create">Create a new list</a>
<a href="/board">View list board</a>

<a href="/logout">Logout</a>

<hr>

{{!-- view the lists you've created or joined --}}
<a href="/owned">View your created lists</a>
<a href="/joined">Your joined lists</a>

<hr>

{{!-- display the user's owned and joined lists if they exist --}}

{{#if user_lists}}
    <h1>Your Created Lists</h1>
    {{!-- <ul>
        {{#each user_lists}}
            <li>{{this.list_name}}</li>
        {{/each}}
    </ul> --}}
    {{#each user_lists}}
        <p>{{this.list_name}} <span><button class="owned-list-btn" data-owned_list_id="{{this.id}}">view/edit</button></span></p>
    {{/each}}
{{/if}}

{{!-- <span><button>view/edit</button></span> --}}

{{!-- {{#if joined_lists.confirmed}} --}}

    <hr>

    {{#if joined_lists}}
        <h2>Lists You've Joined</h2>
    {{/if}}

    {{#each joined_lists}}
        {{#if this.confirmed}}
            <p>{{this.list_name}}</p>
            <button class="joined-list-btn" data-owned_list_id="{{this.listID}}">Proceed to list</button>
            {{else}}
            <h5>{{this.list_name}} --> <span>PENDING APPROVAL!</span></h5>
        {{/if}}
    {{/each}}

    {{!-- <h1>Lists You've Joined</h1>
    {{#each joined_lists}}
        <p>{{this.list_name}}</p>
    {{/each}} --}}
{{!-- {{/if}} --}}

<script>

    // GET REQUEST for the owned list 
    // make the variables
    const ownedListButtons = document.querySelectorAll('.owned-list-btn');
    const joinedListButtons= document.querySelectorAll('.joined-list-btn');

    ownedListButtons.forEach(listBtn => listBtn.addEventListener('click', getownedListData));
    joinedListButtons.forEach(listBtn => listBtn.addEventListener('click', getownedListData));

    function getownedListData(e) {

        console.log(e);

        let listButtonDataId = e.target.dataset.owned_list_id;
        
        $.ajax({
            
            type: 'GET',
            url: `/list/active/${listButtonDataId}`,
            dataType: "text",
            success: function(resultData) {
                window.location.href = `/list/active/${listButtonDataId}`;
            }
        }); 

    }

</script>