<h1>Home Page</h1>

<a href="/profile">Profile</a>
<a href="/create">Create a new list</a>
<a href="/board">View list board</a>

<a href="/logout">Logout</a>

<hr>

{{!-- view the lists you've created or joined --}}
<a href="/owned">View your created lists</a>
<a href="/joined">Your joined lists</a>

<hr>

{{!-- display the user's owned and joined lists if they exist --}}

{{#if user_lists}}
    <h1>Your Created Lists</h1>
    {{!-- <ul>
        {{#each user_lists}}
            <li>{{this.list_name}}</li>
        {{/each}}
    </ul> --}}
    {{#each user_lists}}
        <p>{{this.list_name}} </p>
    {{/each}}
{{/if}}

{{!-- <span><button>view/edit</button></span> --}}

{{!-- {{#if joined_lists.confirmed}} --}}

    <hr>

    {{#if joined_lists}}
        <h2>Lists You've Joined</h2>
    {{/if}}

    {{#each joined_lists}}
        {{#if this.confirmed}}
            <p>{{this.list_name}}</p>
            <button>Proceed to list</button>
            {{else}}
            <h5>{{this.list_name}} --> <span>PENDING APPROVAL!</span></h5>
        {{/if}}
    {{/each}}

    {{!-- <h1>Lists You've Joined</h1>
    {{#each joined_lists}}
        <p>{{this.list_name}}</p>
    {{/each}} --}}
{{!-- {{/if}} --}}

