<h1>Single list page</h1>

<a href="/">Home</a>
<a href="logout"></a>
<a href="/profile">Profile</a>

<hr>

<h2>List name: {{name}}</h2>

<h2>List owner: {{list_owner}}</h2>

<p>Current user: {{user}}</p>

<p>list ID: {{listID}}</p>

{{#if joiners}}
<h2>People added to list:</h2>
    {{#each joiners}}
        <p>{{this.joiner}}</p>
    {{/each}}
{{/if}}

{{!-- {{#each joiners}}
    {{#if joiners.confirmed}}
        <p>{{this.joiner}}</p>
    {{/if}}
{{/each}} --}}

{{!-- #each: joiners, if joiners.confirmed: this.joiner (name) --}}

<h1>List Items</h1>
{{#each list}}
    <h4>{{this.task_name}}</h4>
{{/each}}

<hr>

<a href="/board">back to list board</a>

<button id="join-btn" data-list_id="{{listID}}">join this list</button>

<script>

    document.querySelector('#join-btn').addEventListener('click', function(e) {

        // TO DO - make this a modal etc to alert the user after join
        alert("list joined!");

        console.log(e);

        let listId = e.target.dataset.list_id;
        console.log(listId);

         $.ajax({
            
            type: 'POST',
            url: `/list/join/${listId}`,
            success: function(resultData) { 
                console.log(resultData);
                window.location.href = "/board";
            }
        }); 

    });

</script>