<h1>Single Owned List Page</h1>

<h1>List Name: {{list_details.list_name}}</h1>

<h2>List Owner: {{list_details.list_owner}}</h2>

{{#if list_joiners}}
<ul>
    {{#each list_joiners}}
        {{#if this.confirmed}}
            <li>{{this.joiner}}</li>
            {{else}}
            <li>{{this.joiner}}</li>
            <button>Confirm Joiner</button>
        {{/if}}
    {{/each}}
</ul>
    {{else}}
    <h4>no joiners currently</h4>
{{/if}}

{{!-- <p>{{list_joiners.joiner}}</p> --}}